body {
  background-color: rgb(18, 18, 18);
  font-family: Helvetica;
}
.plcalculate {
  text-align: left;
  color: White;
  background-color: rgb(18, 18, 18);
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  
}

h1 {
  color: White;
}

h2 {
  color: White;
}  
h5 {
  color: White;
}

a {
  color: grey;
}
a:hover {
  color: white;
}
input {
  width: 20%;
  border-radius:5px;
}



 .footer{ 
       position: fixed;     
       text-align: left;    
       bottom: 0px; 
       width: 100%;
   } 
